// Variables //

// COLORS
$color-primary: #dad3c3;
$color-primary-light: #f5efe1;

$color-secondary-1: #888888;
$color-secondary-2: #777777;
$color-secondary-3: #666666;
$color-secondary-4: #555555;

$color-white: #fff;
$color-black: #000;

// ICONS COLOR
$color-icons: #737069;

// FONT
$default-font-size: 1.6rem;
$sections-font-size: 3.5rem;
$button-font-size: 1.5rem;

// SHADOW COLOR
$box-shadow: rgba($color-black, 0.25);
